# List of files to ignore globally in the repository

# Temporary 'vim' editor files.
*.swp
*.swo

# Temporary Windows files.
~$*

# General exclusions.
*.exe
*.log

# Ignore all StateCU binary and report output files:
# - these files are created by StateCU
# - might to be a bit more nuanced if any of these files are needed in tests stored in this repository

*.BD1
*.cir
*.ddc
*.def
*.dwb
*.log
*.obc
*.sum
*.swb
*.wsl
fort.*
season.csv

# Specific folders that should be ignored:
# - downloads are large and dynamic
# - datasets are large and dynamic
# - ignore except for README.md that explains folders

# Downloads.
/downloads/datasets/*
!/downloads/datasets/README.md
/downloads/executables/*
!/downloads/executables/README.md

# Datasets.
/test/datasets/*
!/test/datasets/README.md
